@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;

    --color-hover: #181818;
    --primary-text: #dfe1e2;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-width: inherit;
  scrollbar-color: #9f9f9f #2c2c2c;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: #2c2c2c;
}

html::-webkit-scrollbar-thumb {
  background: #9f9f9f;
}

html::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}
